body{
    line-height: 1.6;
    font-family: 'PT Sans', sans-serif
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link:visited{
    color: white;
}
.nav-link:hover{
    color: cyan;
}
.showcase{
    background: url("../assets/header-bg-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}
.section-main{
    margin-top: 9em;
}
.section-main h1{
    font-size: 4rem;
}
.section-main h2{
    font-size: 2rem;
    margin-top: 1em;
}
.section-main p{
    font-size: 1.3rem;
    margin-top: 1em;
}
.section-music{
    background-color: #252529;
}
.section-music h2{
    padding-top: 1em;
    font-size: 3rem;
}
.section-music h3{
    padding-top: 1em;
    font-size: 2rem;
}
.section-music p{
    padding: 1em;
    padding-left: 7em;
    padding-right: 7em;
}
#sec-music-img{
    height: 95vh;
    margin-bottom: 3em;
}
.section-video h3{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2em;
}
.section-video p{
    font-size: 1.3rem;
    padding-top: 2em;
    padding-left: 7em;
    padding-right: 7em;
}
.section-video a{
    background-color: #103063;
}
